body{
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fefefe;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #003366;
    color: #fff;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brand{
    font-size: 1.5rem;
    font-weight: bold;
}

nav{
    margin-top: 0.5rem;
}

nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover{
    color: gold;
}


/*HERO SECTION STYLING*/
.hero{
    background: url(./images/sonevajani-1880.webp) center;
    color: #0d007e;
    font-weight: bolder;
    text-align: center;
    padding: 8rem 8rem;
    position: relative;
}

.hero::after{
    position: relative;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}

.hero h2, .hero p{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    z-index: 2;
}

.hero h2{
    font-size: 45px;
}

.hero p{
    font-size: 20px;
    margin: 0;
}

.container{
    flex: 1;
    width: 80%;
    margin: 20px auto;
    padding: 0 20px;
}

.container h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #003366;
}

.container p{
    text-align: center;
    color: #555;
}

footer{
    text-align: center;
    padding: 22px;
    background-color: #003366;
    color: #fff;
    font-size: 1rem;
}

/*ROOMS PAGE*/
.rooms{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    margin-top: 30px;
}

.card{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s;
    box-shadow: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.card h3{
    color: #ff9900;
    margin-bottom: 10px;
}

.card p{
    color: #666;
}

/* BOOKINGS PAGE */
.container{
    padding: 20px;
    width: 50%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
}

.booking-form label{
    font-weight: bold;
    margin: 10px 0 5px;
    display: block;
}

.booking-form input, select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

button:hover{
    background-color: #1900ff93;
}
